body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  left: 30%;
  font-family: Courier New, Courier, monospace;
  color: blueviolet;
}

#lista1 {
  margin-top: 100px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  width: 35%;
  display: inline-block;
}

#lista2 {
  margin: 5%;
  padding-left: 30%;
  width: 50%;
  float: right;
  margin-top: 100px;
}

.lado-esquerdo {
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 40px;
}

.lado-direito {
  float: right;
  text-align: center;
  width: 50%;
  line-height: 1.5cm;
}
