body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0px;
  text-align: center;
  left: 30%;
  
}
#lista1 {
  margin-top: 500px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  margin-right: 70%;
  float:right;
}
#lista2 {
  margin: 5%;
  padding-left: 30%;
  display: inline-block;
}
.lado-esquerdo {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.lado-direito {
  float: right;
  text-align: center;
  width: 50%;
}
